<nav>
    <ul>
        <li><a href="/" class ="{{'active' if url === '/'}}" >Home</a></li>
         <li><a href="/meny"class ="{{'active' if url === 'meny'}}">Meny</a></li>
         <li><a href="/boka" class="{{'active' if url === '/boka'}}">Boka bord</a></li>

    </ul>
</nav>