{% extends "layout.njk" %}
{% block content %}
<main class="container">
  <h1>{{ title }}</h1>
  <h2>Boka ett bord!</h2>
  <form action="/boka" method="post">
    <label for="name">Datum: </label>
    <input type="text" name="name" id="name" required>
    <label for="greeting">Tid: </label>
    <input type="text" name="greeting" id="greeting" required>
    <button type="submit">Skicka</button>
  </form>

  <div class="card boka">
  <p>Du har bokat den {{ name }}</p>
    <p>klockan {{ greeting }}</p>
    
  </div>

</main>
{% endblock %}