{% extends "layout.njk"%}
{% block content %}
<main class="container">
    <header class="hero">¨
        <h1>El Gnaros Burritos </h1>

    </header>
    <h1>{{title}}</h1>
    <h2>El Gnaros Burritos is a renowned restaurant chain that has captured the hearts and palates of food enthusiasts across the nation. With its origins rooted in authentic Mexican cuisine, El Gnaros Burritos has successfully carved a niche for itself in the competitive restaurant industry. 

        The hallmark of El Gnaros Burritos is its commitment to using fresh, high-quality ingredients in crafting flavorful and satisfying burritos. Each location boasts a vibrant and inviting atmosphere, reflecting the brand's dedication to creating a memorable dining experience. The menu features a diverse array of burrito options, ranging from traditional classics to innovative, fusion-inspired creations, catering to a broad spectrum of tastes and preferences.
        
        What sets El Gnaros Burritos apart is its emphasis on customization. Customers have the freedom to build their own burritos, selecting from a variety of proteins, fresh vegetables, and signature sauces. This personalized touch has garnered a loyal customer base, making El Gnaros Burritos a go-to choice for those seeking a delicious and customizable dining experience.
        
        Beyond its culinary excellence, El Gnaros Burritos is committed to sustainability, incorporating eco-friendly practices into its operations. Whether you're a devoted fan of Mexican cuisine or a newcomer eager to explore bold flavors, El Gnaros Burritos stands out as a premier destination for satisfying your burrito cravings with a unique and delightful twist.</h2>
</main>
{% endblock %}