{% extends "layout.njk"%}
{%block content %}
<main class="container2">
<header class="hero">
   <h1>{{title}}</h1>

</header>
    
    <img src="/" alt="">
    <h2>Classic Carne Asada Burrito:
        Grilled marinated steak, Spanish rice, black beans, pico de gallo, shredded cheese, and a drizzle of savory cilantro-lime crema, all wrapped in a warm flour tortilla. 
        
        Vegetarian Fiesta Burrito:
        A colorful medley of sautéed seasonal vegetables, cilantro-lime rice, black beans, guacamole, and queso fresco, rolled in a spinach tortilla.
        
        Spicy Shrimp Fusion Burrito:
        Succulent spicy shrimp, mango salsa, avocado slices, chipotle mayo, and a kick of jalapeños, expertly combined in a chipotle-flavored tortilla.
        
        Carnitas Street Taco Trio:
        Three mini tacos filled with slow-cooked pulled pork, diced onions, fresh cilantro, and a squeeze of lime, served on soft corn tortillas.
        
        BBQ Chicken Quesadilla:
        Grilled chicken breast coated in tangy BBQ sauce, melted Monterey Jack cheese, caramelized onions, and roasted red peppers between two crispy flour tortillas.
        
        Chipotle Lime Grilled Chicken Salad Bowl:
        Grilled chicken marinated in chipotle and lime, mixed greens, black beans, corn salsa, diced tomatoes, and a creamy avocado dressing.
        
        Chorizo Breakfast Burrito:
        Scrambled eggs, spicy chorizo sausage, hash browns, cheddar cheese, and fresh salsa wrapped in a warm tortilla—a perfect morning indulgence.
        
        Mango Habanero Carnitas Bowl:
        Slow-cooked carnitas, cilantro-lime rice, black beans, mango habanero salsa, and a dollop of sour cream served in a bowl for a delightful flavor explosion.
        
        Seafood Ceviche Tostada:
        A crispy tostada topped with zesty seafood ceviche, diced tomatoes, red onions, cilantro, and a squeeze of lime.
        
        Sweet Potato and Black Bean Burrito:
        Roasted sweet potatoes, black beans, feta cheese, spinach, and chipotle aioli wrapped in a whole wheat tortilla for a hearty and nutritious option.
        
        El Gnaros Nacho Supreme:
        Tortilla chips piled high with melted cheese, seasoned ground beef, black olives, jalapeños, sour cream, and guacamole—a perfect sharing appetizer.
        
        Tres Leches Churro Dessert:
        Indulge in a sweet finish with churros drizzled in tres leches sauce, topped with a scoop of vanilla ice cream, and garnished with cinnamon sug</h2>
</main>
{%endblock%}